*, *:before, *:after {}
*:hover {transition: all .8s ease .2s;}

/****************** Primary tag */
html{font-size: 62.5%;}

body {
	font-size: 2rem;
	color: var(--color);
	font-family: 'Slabo 27px', serif;
}
main#home{
	background: #f8f8f8;
	padding: 15px 20px;
}
a{
	color: inherit;
}
ul {margin: 0; padding: 0;}

h2,h3,h4 {
	font-family: 'Merriweather', sans-serif;
	font-weight: bold;
}
h1 {
	font-family: 'Lobster', cursive;
	margin: 0;
	font-size: 4rem;
}
h2{
	font-size: 3rem;
	text-align: center;
}
h3{
	font-size:2rem
}
h4{
	
}
