RewriteEngine on

RewriteRule ^(ajax)/([a-z]+)-([a-z0-9]+)/?$ 		index.php?page=$1&function=$2&value=$3 [L]
RewriteRule ^([a-z]+)$ index.php?page=$1 [L]

RewriteRule ^([a-z]+)-([0-9]+)$ index.php?page=$1&id=$2 [L]

RewriteRule ^([a-z]+)/([0-9]{4})\-([0-9]{1,2})/?$	index.php?page=$1&year=$2&month=$3 [L]

RewriteRule ^([a-z]+)-([0-9]+)/([a-zA-Z]+)$ index.php?page=$1&id=$2&action=$3 [L]

RewriteRule ^([a-z]+)/([a-z]+)-([0-9]+)$ index.php?page=$1&action=$2&id=$3 [L]

RewriteRule ^([a-z]+)-([0-9]+)/([a-z]+)-([0-9]+)$ index.php?page=$1&id=$2&action=$3&actionId=$4 [L]

# Les variable possible
#	page		La page
#	name		
#	action
#	option
#	id
#	url