main {
	margin: 0;
	padding: 0;
	color:#fff;
	font: normal 90% "Trebuchet MS",Verdana,"Lucida Grande",Tahoma,Arial,Helvetica,Sans-Serif;

}
h2 {
	margin-top:0;
	font-size: 2em;
	font-weight:bold;
	color: #ffffff;
}

a {
	font-weight:bold;
	color:#fff;
}

#wrap {
	position: relative;
	top:0;
	-webkit-transition: top 1.4s cubic-bezier(.49,.22,.52,1);
	-moz-transition: top 1.4s cubic-bezier(.49,.22,.52,1.35);
	-ms-transition: top 1.4s cubic-bezier(.49,.22,.52,1.35);
	-o-transition: top 1.4s cubic-bezier(.49,.22,.52,1.35);
	transition: top 1.4s cubic-bezier(.49,.22,.52,1.35);
}

#nav {
	position: fixed;
	top: 64px; left:0; right: 0;
	padding: 1rem 0;
	margin:0;
	text-align:center;
	background-color: #343a40;
	width: 900px;
	font-size: 1em;
	z-index:10;
	margin: 0 auto;
	border-radius: 0 0 7px 7px;
}
#nav li {
	display: inline;
	margin:0;
}
#nav a {
	display: inline-block;
	margin: 0 3em;
	color: #eee;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

#slide1, #slide2, #slide3 {
	height: 1100px;
	padding-top:150px;
	-webkit-transition: background-position 1.4s  cubic-bezier(.49,.22,.52,1);
	-moz-transition: background-position 1.4s cubic-bezier(.49,.22,.52,1.35);
	-ms-transition: background-position 1.4s  cubic-bezier(.49,.22,.52,1.35);
	-o-transition: background-position 1.4s  cubic-bezier(.49,.22,.52,1.35);
	transition: background-position 1.4s  cubic-bezier(.49,.22,.52,1.35);
}

#slide1 { 
	background:url(/images/parallaxe/slide-1.jpg) center 0 no-repeat fixed; 
	background-size: cover;
}
#slide2 { 
	background: url(/images/parallaxe/slide-2.jpg) center 0 no-repeat fixed; 
	background-size: cover;
}
#slide3 { 
	background: url(/images/parallaxe/slide-3.jpg) center 0 no-repeat fixed;
	background-size: cover;
}

.slide_inside {
	width: 770px;
	margin: 0 auto;
	position: relative;
	background-color: rgba(0, 0, 0, .6);
	padding: 50px;
}

#slide1 .slide_inside {
	text-align: center;
	background-color: transparent;
}
#slide2 .slide_inside p {
	text-align: justify;
}
#slide3 .slide_inside {
	margin-top: 50px;
}

#s1:target ~ #wrap { top:0px; }
#s1:target ~ #wrap #nav li:first-child a { text-shadow: 0 0 5px white;}
#s1:target ~ #wrap #slide1 { background-position: 50% 0%; }
#s1:target ~ #wrap #slide2 { background-position: 50% -35%; }
#s1:target ~ #wrap #slide3 { background-position: 50% -60%; }

#s2:target ~ #wrap { top:-1100px; }
#s2:target ~ #wrap #nav li:first-child + li a { text-shadow: 0 0 5px white;}
#s2:target ~ #wrap #slide1 { background-position: 50% 36%; }
#s2:target ~ #wrap #slide2 { background-position: 50% 0%; }
#s2:target ~ #wrap #slide3 { background-position: 50% -30%; }


#s3:target ~ #wrap { top:-2200px; }
#s3:target ~ #wrap #nav li:last-child a { text-shadow: 0 0 5px white;}
#s3:target ~ #wrap #slide1 { background-position: 50% 60%; }
#s3:target ~ #wrap #slide2 { background-position: 50% 35%; }
#s3:target ~ #wrap #slide3 { background-position: 50% 0%; }
